<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcloud.domain.SongRepository">
<!-- 랜덤차트 12개 -->
	<select id="getTwelveRandomSongs" resultType="song">
		SELECT URL
			 , IMG
			 , SINGER
			 , TITLE
		  FROM TB_SONGS
		 ORDER BY RAND()
		 LIMIT 12
	</select>
</mapper>